<div class="container"><h2>Today's Exclusive Dishes</h2>
<%@menus.each do |menu| %>
  <div class="row">
  <div class="col"><%=menu.item%></div>
  <div class="col"><%=menu.price%></div>
  <div class="col btn btn-sm"><%=link_to "Edit",edit_menu_path(menu) %></div>
  <div class="col btn btn-sm"><%=link_to "Delete",menu_path(menu) %></div>
  </div>
<%end%>
<p><%= link_to 'Create New Menu', new_menu_path %> </p>
</div>


